@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");

body {
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	color: #505962;
}

/* Nav Scrolling Offset */
.offset:before {
	height: 4rem;
	margin-top: -4rem;
	content: "";
	display: block;
}

/* Extra Bootstrap Column Padding */
[class*="col-"] {
	padding: 1rem;
}

/*============ NAVIGATION ============*/
.navbar {
	padding: 0.7rem 1rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	transition: background-color 0.5s ease 0s;
}

.navbar-brand img {
	height: 2rem;
}

.navbar-toggler i {
	color: #fff;
	font-size: 1.6rem;
}

.navbar-nav li {
	padding-right: 0.8rem;
}

.navbar-nav .nav-link {
	color: #fff;
	padding-top: 0.8rem;
}

/* nice hover effect when scrolling, by default last link will have .active class */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: #1ebba3;
}

/* solid color navigation effect */
.navbar.solid {
	background: rgba(0, 0, 0, 0.7) !important;
	transition: background-color 1s ease 0s;
}

/*============ Landing Page ============*/
.home-inner {
	background-image: url(img/computers.png);
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
}

.caption h1 {
	color: #fff;
	font-size: 4.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	padding-bottom: 1rem;
}

.caption h3 {
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 0.1rem 0.1rem 0.5rem black;
	padding-bottom: 2rem;
}

.btn-lg {
	border-width: medium;
	padding: 0.8rem 1.5rem;
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block !important;
}

.arrow i {
	color: #fff;
	font-size: 22px;
	opacity: 0.5;
}

/*============ Features Section ============*/
.narrow {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
	margin-bottom: 1rem;
}

.btn-sm {
	border-width: medium;
	border-radius: 0;
	padding: 0.5rem 1.1rem;
	font-size: 0.9rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 1rem;
}

.btn-turquoise {
	border-color: #1ebba3;
	background-color: #1ebba3;
	color: #fff;
}

.btn-turquoise:hover,
.btn-turquoise:focus {
	border-color: #189582;
	background-color: #189582;
	color: #fff;
}

.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
	padding: 1rem 0 3rem;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.9rem;
}

.heading-underline {
	width: 3rem;
	height: 0.2rem;
	background-color: #1ebba3;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.feature {
	text-align: center;
}

.feature .fa-stack {
	color: #1ebba3;
	height: 6rem;
	margin: 0 auto;
	width: 3.9rem;
}

.feature h3 {
	font-size: 1.3rem;
	text-transform: uppercase;
	padding-bottom: 0.4rem;
}

.feature p {
	font-size: 1.1rem;
}

/*============ FFixed background Image Dark ============*/
#fixed {
	background-image: url(img/fixed/apple.png);
	z-index: -1;
}

.dark {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 1000 !important;
}

.dark h3,
.dark p {
	color: #e9ecef;
}

/*============ Porfolio Section ============*/
.row.padding {
	padding: 2rem 0 1rem;
}

img.example-image {
	max-width: 100%;
}

/* pay attention no-padding class */
.row.no-padding [class*="col-"] {
	padding: 0;
}

/* nice hover effect */
.portfolio-item {
	overflow: hidden;
}

.portfolio-item img {
	transition: transform 0.4s ease;
}

.portfolio-item img:hover {
	transform: scale(1.3);
	cursor: zoom-in;
}

/*============ Pricing Section ============*/
.pricing-column {
	background-color: #fff;
	padding: 2rem;
	border-top: 0.2rem solid #1ebba3;
	box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.075);
	transition: transform ease 0.7s;
	position: relative;
	overflow: hidden;
}

.pricing-column:hover {
	transform: scale(1.1);
}

.pricing-column h3 {
	padding: 1rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.pricing-column p {
	opacity: 0.8;
	margin-top: 1.3rem;
}

.pricing-column h4 {
	font-size: 1.1rem;
	padding: 0.4rem;
}

.pricing-column .item {
	font-weight: 700;
}

.pricing-column h1 {
	padding: 0.8rem 0;
}

.ribbon {
	background-color: #6c757d;
	color: #fff;
	width: 10rem;
	height: 2rem;
	font-size: 0.8rem;
	font-weight: 700;
	padding-top: 0.4rem;
	position: absolute;
	right: -2.8rem;
	top: 1.6rem;
	transform: rotate(45deg);
	box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

/*============ Team Section Fixed BG IMG light ============*/
#fixed-2 {
	background-image: url(img/fixed/office.png);
	z-index: -1;
}

.light {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 3rem 2rem 2rem;
	z-index: 1000 !important;
}

.card {
	border-radius: 0;
	border: 0.1rem solid rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.75);
	margin: 1rem;
	transition: transform 0.4s ease;
}

.card-img-top {
	border-radius: 0;
}

.card:hover {
	transform: scale(0.95);
}

.card h4 {
	font-weight: 700;
}

.card h5 {
	color: #1ebba3;
}

.card p {
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin: 1rem 0 1.5rem;
}

.card .icon {
	color: #1ebba3 !important;
	font-size: 1.3rem;
	width: 2rem;
	transition: color 0.4s ease;
}

.card .icon:hover {
	color: #6c757d !important;
}

.owl-dot.active span,
.owl-dot:hover span {
	background: #1ebba3 !important;
}

.fa-layers2 {
	color: #505962;
}

/*============ Skills Section============*/
.skill h3 {
	color: #1ebba3;
	font-size: 2.5rem;
	font-weight: 700;
	margin: 1rem 0 0.5rem;
}

.skill p {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 700;
}

/*============ Clients Section============*/
.clients img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.clients img:hover {
	transform: scale(0.95);
}

blockquote i {
	margin: 1rem;
	color: #1ebba3;
}

.clients-hr {
	border-top: 0.05rem solid #1ebba3;
}

/*============ Contact Section============*/
footer {
	background: url(img/footer/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
}

footer .row {
	background-color: rgba(57, 63, 70, 0.85);
	color: #fff;
	padding: 1rem 2rem 3rem;
}

footer img {
	height: 2rem;
	margin: 1.5rem 0;
}

footer a i {
	color: #fff;
	font-size: 1.5rem;
	margin: 1.2rem 0.5rem 0 0;
	transition: all ease 0.4s;
}

footer a i:hover {
	color: #189582;
}

footer h3 {
	text-transform: uppercase;
	margin: 1.5rem 0;
}

/* Contact Form */
.form-group {
	margin-bottom: 1.3rem;
}

.form-control {
	background-color: #53595f;
	border-radius: 0;
	border: 0.15rem solid #666b71;
	color: #fff !important;
	font-size: 1.1rem;
}

.form-control:focus {
	background: #53595f;
	border: 0.15rem solid #666b71;
}

.form-control input::placeholder,
.form-control textarea::placeholder {
	color: #b2b5b8 !important;
}

input.btn {
	cursor: pointer;
}

hr.socket {
	border-top: 0.2rem solid #666b71;
	width: 100%;
}

/*============ Top Scroll ============*/
.top-scroll i {
	font-size: 1.8rem;
	height: 1.7rem;
	color: #53595f;
	background: #fff;
}

a.top-scroll {
	position: fixed;
	right: 1.2rem;
	bottom: 1.2rem;
	opacity: 0.3;
	z-index: 1000;
	transition: all 0.3s ease;
	/* make sure to be display none to use the top scroll feature */
	display: none;
}

a.top-scroll:hover {
	opacity: 0.5;
	transform: scale(1.3);
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/* Media Quries */

/* Devices under 992px(lg) */
@media (max-width: 991px) {
	.caption h1 {
		font-size: 3.5rem;
		letter-spacing: 0.2rem;
		padding-bottom: 0.8rem;
	}

	.caption h3 {
		font-size: 2.2rem;
		padding-bottom: 1.7rem;
	}

	.btn-lg {
		padding: 0.7rem 1.2rem;
		font-size: 1rem;
	}
	.narrow h1 {
		font-size: 2.1rem;
	}
}

/* Devices under 768px(md) */
@media (max-width: 767px) {
	.caption h1 {
		font-size: 2.7rem;
		letter-spacing: 0.15rem;
		padding-bottom: 0.5rem;
	}

	.caption h3 {
		font-size: 1.7rem;
		padding-bottom: 1.2rem;
	}

	.btn-lg {
		padding: 0.6rem 1.1rem;
		font-size: 1rem;
	}
	.narrow h1 {
		font-size: 1.8rem;
	}

	#fixed {
		background-image: url(img/fixed/apple-mobile.png);
	}

	#fixed-2 {
		background-image: url(img/fixed/office-mobile.png);
		z-index: -1;
	}

	footer {
		background: url(img/footer/footer-mobile.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.clients img {
		max-width: 50%;
		margin: 0 auto;
	}
}

/* Devices under 576px(sm) */
@media (max-width: 575px) {
	.caption h1 {
		font-size: 1.9rem;
		letter-spacing: 0.1rem;
		padding-bottom: 0.4rem;
	}

	.caption h3 {
		font-size: 1.2rem;
		padding-bottom: 1rem;
	}

	.btn-lg {
		padding: 0.4rem 0.9rem;
		font-size: 0.9rem;
	}
	.narrow {
		width: 85%;
	}
}

/* 
.caption h1 {
	color: #fff;
	font-size: 4.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	padding-bottom: 1rem;
}

.caption h3 {
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 0.1rem 0.1rem 0.5rem black;
	padding-bottom: 2rem;
}

.btn-lg {
	border-width: medium;
	padding: 0.8rem 1.5rem;
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block !important;
}

*/
