@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");

body {
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	color: #505962;
}

/* Nav Scrolling Offset */
.offset:before {
	height: 4rem;
	margin-top: -4rem;
	content: "";
	display: block;
}

/* Extra Bootstrap Column Padding */
[class*="col-"] {
	padding: 1rem;
}

/*============ NAVIGATION ============*/
.navbar {
	padding: 0.7rem 1rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	transition: background-color 0.5s ease 0s;
}

.navbar-brand img {
	height: 2rem;
}

.navbar-toggler i {
	color: #fff;
	font-size: 1.6rem;
}

.navbar-nav li {
	padding-right: 0.8rem;
}

.navbar-nav .nav-link {
	color: #fff;
	padding-top: 0.8rem;
}

/* nice hover effect when scrolling, by default last link will have .active class */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: #1ebba3;
}

/* solid color navigation effect */
.navbar.solid {
	background: rgba(0, 0, 0, 0.7) !important;
	transition: background-color 1s ease 0s;
}

/*============ Landing Page ============*/
.home-inner {
	background-image: url(img/computers.png);
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
}

.caption h1 {
	color: #fff;
	font-size: 4.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	padding-bottom: 1rem;
}

.caption h3 {
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 0.1rem 0.1rem 0.5rem black;
	padding-bottom: 2rem;
}

.btn-lg {
	border-width: medium;
	padding: 0.8rem 1.5rem;
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block !important;
}

.arrow i {
	color: #fff;
	font-size: 22px;
	opacity: 0.5;
}

/*============ Features Section ============*/
.narrow {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
	margin-bottom: 1rem;
}

.btn-sm {
	border-width: medium;
	border-radius: 0;
	padding: 0.5rem 1.1rem;
	font-size: 0.9rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 1rem;
}

.btn-turquoise {
	border-color: #1ebba3;
	background-color: #1ebba3;
	color: #fff;
}

.btn-turquoise:hover,
.btn-turquoise:focus {
	border-color: #189582;
	background-color: #189582;
	color: #fff;
}

.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
	padding: 1rem 0 3rem;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.9rem;
}

.heading-underline {
	width: 3rem;
	height: 0.2rem;
	background-color: #1ebba3;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.feature {
	text-align: center;
}

.feature .fa-stack {
	color: #1ebba3;
	height: 6rem;
	margin: 0 auto;
	width: 3.9rem;
}

.feature h3 {
	font-size: 1.3rem;
	text-transform: uppercase;
	padding-bottom: 0.4rem;
}

.feature p {
	font-size: 1.1rem;
}

/*============ FFixed background Image Dark ============*/
#fixed {
	background-image: url(img/fixed/apple.png);
	z-index: -1;
}

.dark {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 1000 !important;
}

.dark h3,
.dark p {
	color: #e9ecef;
}

/*============ Porfolio Section ============*/
.row.padding {
	padding: 2rem 0 1rem;
}

img.example-image {
	max-width: 100%;
}

/* pay attention no-padding class */
.row.no-padding [class*="col-"] {
	padding: 0;
}

/* nice hover effect */
.portfolio-item {
	overflow: hidden;
}

.portfolio-item img {
	transition: transform 0.4s ease;
}

.portfolio-item img:hover {
	transform: scale(1.3);
	cursor: zoom-in;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
